.menu-icon-container {
  position: absolute;
  right: 3vw;
  top: 2vw;
  z-index: 15;
  display: flex;
  flex-direction: row-reverse;
}
@media all and (max-width: 1400px) {
  .menu-icon-container {
    right: 3%;
    top: 7%;
  }
}
.menu-icon-container .menu-right {
  width: 3vw;
  cursor: pointer;
}
@media all and (max-width: 1400px) {
  .menu-icon-container .menu-right {
    width: 5vw;
  }
}
.menu-icon-container .menu-left {
  display: flex;
  padding-inline: 1vw;
  background-color: rgba(255, 255, 255, 0.25);
}
@media all and (max-width: 1400px) {
  .menu-icon-container .menu-left {
    padding-inline: 1.5vw;
  }
}
.menu-icon-container .menu-left .menu-left-item {
  display: flex;
  align-items: center;
}
.menu-icon-container .menu-left .menu-left-item a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--serif);
  font-weight: 300;
  font-size: 1vw;
  letter-spacing: 4px;
  height: 100%;
  color: white;
}
@media all and (max-width: 1400px) {
  .menu-icon-container .menu-left .menu-left-item a {
    font-size: 1.2vw;
    letter-spacing: 2px;
  }
}
.menu-icon-container .menu-left .menu-left-item a .menu-left-triangle {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #aeffe0;
  opacity: 0;
}
.menu-icon-container .menu-left .menu-left-item p {
  font-size: 1vw;
  padding-inline: 0.25vw;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media all and (max-width: 1400px) {
  .menu-icon-container .menu-left .menu-left-item p {
    font-size: 1.1vw;
  }
}
.menu-icon-container .menu-left .menu-left-item:last-child p {
  display: none;
}
.menu-icon-container .menu-left .menu-left-item-active a {
  color: #aeffe0;
}
.menu-icon-container .menu-left .menu-left-item-active a .menu-left-triangle {
  opacity: 1;
}

.menu-main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-mask-image: linear-gradient(to right, rgba(47, 104, 122, 0) 20%, rgb(0, 0, 0) 50%);
          mask-image: linear-gradient(to right, rgba(47, 104, 122, 0) 20%, rgb(0, 0, 0) 50%);
  -webkit-mask-size: 500% 100%;
          mask-size: 500% 100%;
  -webkit-mask-position: -260vw;
          mask-position: -260vw;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  z-index: 999;
}
.menu-main .menu-main-bg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.menu-main .menu-main-bg img {
  height: 100%;
}
.menu-main .menu-top {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 9vw;
  margin-top: 6vw;
}
@media all and (max-width: 1400px) {
  .menu-main .menu-top {
    margin-top: 13vw;
    gap: 7vw;
  }
}
.menu-main .menu-top .menu-top-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu-main .menu-top .menu-top-left .menu-title-1 {
  width: 13.75vw;
  margin-left: 1vw;
}
@media all and (max-width: 1400px) {
  .menu-main .menu-top .menu-top-left .menu-title-1 {
    width: 18.75vw;
  }
}
.menu-main .menu-top .menu-top-left .menu-title-2 {
  width: 15.25vw;
  margin-top: 2.5vw;
}
@media all and (max-width: 1400px) {
  .menu-main .menu-top .menu-top-left .menu-title-2 {
    width: 20.25vw;
  }
}
.menu-main .menu-top .menu-top-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4vw;
}
@media all and (max-width: 1400px) {
  .menu-main .menu-top .menu-top-right {
    gap: 3vw;
  }
}
.menu-main .menu-top .menu-top-right .menu-top-right-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-main .menu-top .menu-top-right .menu-top-right-item::after {
  content: "";
  position: absolute;
  top: 0.4vw;
  right: -1.75vw;
  height: 1.25vw;
  width: 1px;
  background-color: white;
}
@media all and (max-width: 1400px) {
  .menu-main .menu-top .menu-top-right .menu-top-right-item::after {
    right: -17.5%;
    height: 1.5vw;
  }
}
.menu-main .menu-top .menu-top-right .menu-top-right-item h4 {
  font-family: var(--serif);
  font-weight: 400;
  font-size: 1.25vw;
  letter-spacing: 10px;
  color: white;
}
@media all and (max-width: 1400px) {
  .menu-main .menu-top .menu-top-right .menu-top-right-item h4 {
    font-weight: 600;
    letter-spacing: 6px;
    font-size: 1.5vw;
  }
}
.menu-main .menu-top .menu-top-right .menu-top-right-item h5 {
  font-family: var(--cor);
  font-weight: 400;
  font-size: 1vw;
  letter-spacing: 2px;
  margin-block: 1.75vw;
  color: #aeffe0;
}
@media all and (max-width: 1400px) {
  .menu-main .menu-top .menu-top-right .menu-top-right-item h5 {
    font-weight: 600;
    margin-block: 1.5vw;
    letter-spacing: 1px;
    font-size: 1.15vw;
  }
}
.menu-main .menu-top .menu-top-right .menu-top-right-item .menu-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1vw;
}
.menu-main .menu-top .menu-top-right .menu-top-right-item .menu-links a {
  font-family: var(--sans);
  font-weight: 300;
  font-size: 1.1vw;
  letter-spacing: 4px;
  color: white;
}
@media all and (max-width: 1400px) {
  .menu-main .menu-top .menu-top-right .menu-top-right-item .menu-links a {
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 1.2vw;
    padding-block: 5%;
  }
}
.menu-main .menu-top .menu-top-right .menu-top-right-item:last-child::after {
  display: none;
}
.menu-main .menu-icon-close {
  position: absolute;
  right: 3vw;
  top: 2vw;
  width: 2vw;
  cursor: pointer;
}
@media all and (max-width: 1400px) {
  .menu-main .menu-icon-close {
    right: 5%;
    top: 7%;
    width: 3.5vw;
  }
}