.menu-icon-container {
  position: absolute;
  right: 2vw;
  top: 2vw;
  z-index: 60;
  display: flex;
  flex-direction: row-reverse;
  transform-style: preserve-3d;
  perspective: 800px;
  transition: transform 0.2s ease-out;
  padding: 1.5vw 1vw;
  background-color: #ffffff4d;
  cursor: pointer;
  -webkit-backdrop-filter: blur(8px);
  position: fixed;
  border-radius: 0.6rem !important;
  backdrop-filter: blur(8px);

  @media all and (max-width: 1024px) {
    width: 14vw;
    padding: 3vw 1vw;
    background-color: unset;
  }

  .menu-right {
    width: 3vw;
    cursor: pointer;
    position: relative;

    @media all and (max-width: 1024px) {
      width: 18vw;
    }

    img {
      position: relative;
      z-index: 2;
    }
  }
}

.menu-main {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100dvh;
  // clip-path: inset(100% 0% 0% 0%);
  z-index: 99;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  @media all and (max-width: 1024px) {
    flex-direction: column-reverse;
  }

  .menu-icon-close {
    position: absolute;
    right: 2vw;
    top: 2vw;
    width: 4vw;
    cursor: pointer;
    z-index: 30;

    @media all and (max-width: 1400px) {
      width: 6vw;
    }

    @media all and (max-width: 1024px) {
      width: 14vw;
      right: 4vw;
      top: 5.5vw;
    }

    img {
      transition: scale 0.2s ease-in-out;
    }

    &:hover {
      img {
        scale: 1.15;
      }
    }
  }

  .left-img-box {
    flex: 3;
    overflow: hidden;
    height: 100%;

    .images {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;

      .img-box {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        will-change: clip-path;
        inset: 0;
        z-index: 0;

        img {
          height: 100%;
          max-width: 100%;
          -o-object-fit: cover;

          object-fit: cover;
          width: 100%;
          will-change: clip-path;
        }
      }
    }
  }

  .right-menu-box {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 3;

    @media all and (max-width: 1400px) {
      justify-content: center;
      padding-top: 0vw;
    }

    .link-box {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s;
        color: #3d3a39;

        .links {
          display: flex;
          flex-direction: column;
          margin-top: 1vw;
          padding-top: 3vw;
          position: relative;
          color: #3d3a39;

          &.fade-out {
            opacity: 0.3;
            pointer-events: none; // 如果你想淡化的同時不可點擊

            @media all and (max-width: 1024px) {
              opacity: 1;
            }
          }

          a {
            font-family: 'Faculty Glyphic', sans-serif;
            font-size: 2.5vw;
            letter-spacing: 0.07em;
            color: #3d3a39;
            font-weight: 400;
            margin-bottom: 1vw;

            // @media all and (max-width: 1400px) {
            //   font-size: 1.4vw;
            //   margin-bottom: 1.5vw;
            // }

            @media all and (max-width: 1024px) {
              font-size: 5vw;
              margin-bottom: 6vw;
            }

            div {
              transition: all 0.5s;
            }

            &:hover {
              div {
                // color: #65839b;
                transition: all 0.5s;
              }
            }
          }
        }
      }
    }

    .back-index-button {
      position: absolute;
      top: 1.5vw;
      left: 2rem;
      font-family: 'Noto Sans TC';
      font-size: 1rem;
      letter-spacing: 0.1em;
      color: #65839b;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      display: inline-block;
      font-size: 1vw;

      @media all and (max-width: 1024px) {
        font-size: 3.75vw;
        top: 4vw;
        left: 4vw;
      }

      svg {
        align-items: center;
        margin-right: 0.3vw;
        width: 1em;
        height: 1em;

        vertical-align: -0.15em;

        @media all and (max-width: 1024px) {
          width: 6vw;
          height: 6vw;
          vertical-align: -0.4em;
        }
      }

      &:hover {
        transform: translateX(-1vw);

        @media all and (max-width: 1024px) {
          color: #65839b;
        }

        span {
          transform: rotate(10deg) scale(1.2);
          color: #ffaad4;

          @media all and (max-width: 1024px) {
            color: #65839b;
          }
        }
      }
    }
  }
}
