// mobile

//45pt
$font-mobile-45: 5.8vw;

//40pt
$font-mobile-40: 5.2vw;

//33pt
$font-mobile-33: 4.1vw;

//30pt
$font-mobile-30: 3.9vw;

//28pt
$font-mobile-28: 3.6vw;

//27pt
$font-mobile-27: 3.5vw;

//26pt
$font-mobile-26: 3.4vw;

//25pt
$font-mobile-25: 3.3vw;

//24pt
$font-mobile-24: 3.2vw;

//==========================

//68pt
$font-68: 3.7vw;

//45pt
$font-45: 2.35vw;

//40pt
$font-40: 2.1vw;

//34pt
$font-34: 1.8vw;

//30pt
$font-30: 1.6vw;

//28pt
$font-28: 1.5vw;

//24pt
$font-24: 1.3vw;

//22pt
$font-22: 1.2vw;

//20pt;
$font-20: 1.1vw;

//18pt
$font-18: 1vw;

//17pt
$font-17: 0.9vw;

//15pt
$font-15: 0.75vw;

//14pt
$font-14: 0.7vw;
