@use '../utils/mixin'as *;
@use '../utils/variables'as *;

.project-body {
  background-color: #ECE8E8;
  position: relative;
  z-index: 20;

  .project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ECE8E8;
    position: relative;
    padding-top: 4vw;
    padding-bottom: 7vw;
    z-index: 20;

    @media all and (max-width: 1024px) {
      padding-top: 0vw;

    }

    .top-img-box {
      width: 80%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      height: 25vw;

      @media all and (max-width: 1024px) {
        width: 100%;
        height: auto;
      }

      img {
        width: 100%;
        z-index: 1;
      }

      .top-title-box {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;

        @media all and (max-width: 1024px) {
          display: flex;
          top: 45%;
        }

        .big-en-title {
          @include pageBigENTitle();

          @media all and (max-width: 1024px) {
            font-size: 8.8vw;
          }

        }
      }


    }

    .page-container {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      margin: 0 auto;
      align-items: center;
      padding-top: 6vw;

      @media all and (max-width: 1024px) {
        padding-top: 10vw;
      }

      .project-box {
        display: flex;
        width: 80%;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        @media all and (max-width: 1024px) {
          flex-direction: column;
          width: 86%;
          margin: 0 auto;
        }

        .project-item {
          width: 23%;
          display: flex;
          margin-bottom: 5vw;
          flex-direction: column;

          @media all and (max-width: 1024px) {
            width: 100%;
            flex-basis: initial;
            margin-bottom: 15vw;
          }


          .img-box {
            display: flex;
            width: 18vw;
            height: 18vw;

            @media all and (max-width: 1024px) {
              width: 100%;
              height: 84vw;
            }

            img {
              width: 100%;
              object-fit: cover;

            }
          }

          .project-content {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 0.9vw;

            @media all and (max-width: 1024px) {
              margin-top: 5vw;
            }

            .project-name {
              font-size: $font-22;
              color: #232323;
              font-family: "Noto Serif TC";
              font-weight: bold;
              margin-right: 1vw;
              letter-spacing: 0.2em;
              align-self: center;

              @media all and (max-width: 1024px) {
                font-size: 5.2vw;
                font-weight: bold;
                text-align: center;
                padding-top: 0vw;
              }
            }

          }
        }

        .project-item-box {
          -webkit-transition: all 0.6s ease-in;
          -o-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
          // display: none;
          // opacity: 0;
        }

        .project-item-box.active {
          opacity: 1;
          display: flex;
        }
      }

      .scroll-top-box {

        display: flex;
        justify-content: right;
        cursor: pointer;

        margin-top: 2vw;


        &:hover {
          .scroll-top {
            transform: translateY(-1vw);
          }

        }

        @media all and (max-width: 1024px) {
          display: flex;
          justify-content: right;
          cursor: pointer;
          width: 88%;
          margin: 0 auto;

        }

        .scroll-top {
          width: 10vw;
          transition: all 0.3s ease-in-out;

          @media all and (max-width: 1024px) {
            width: 13vw;
          }
        }
      }
    }
  }
}
